.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.box {
  display: flex;
  column-gap: 10px;
  width: 952px;
}

.button {
  width: 175px;
}

.box_circle {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  column-gap: 10px;
  row-gap: 50px;
  max-width: 950px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.circle {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.arrow {
  background-color: red;
}
